.header {
    margin: 16px 16px 16px;
    font-size: o;
}
.header li {
    display: inline;
    margin: 0 15px;
}

.header  > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}
.header .logo {
    width: 20%;
}
.header .navbar {
    width: 60%;
    text-align: center;
}
.header .action {
    width: 18%;
    text-align: right;
}
.header .action button{
    color: #ffffff;
    background-color: #00ce6e;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px;
    margin-left: 10px;
}
.header ul {
    padding: 0px;
}


h1 {
    color: #025157;
    font-size: 60px;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    vertical-align: 6px;

}
h3 {
    color: #025157;
    font-family: 'Slabo 27px', serif;
    font-size: 20px ;
}
p{
    color: rgb(22, 21, 21);
}
button{
    color: #ffffff;
}
button{
    background-color: #025157;
    border-radius: 8pt;
}
body {
    background-color: rgb(248, 248, 248);
    margin: 0rem;
}
.main {
    margin-top: 150px;
    text-align: center;
}
.main .imagenueva{
    width: 80%;
    max-width: 1000px;
}
